.form {
  position: relative;
  z-index: 1;
  max-width: 350px;
  margin: 0 auto 100px;
  padding: 45px;
  background: #ffffff;
  border: solid 1px grey;
}

.form {
  input {
    @include input;
  }
  .btn {
    @include btn;
  }
}
