.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  font-family: $font-family;
  margin: 0.25rem;
  padding: 1.5rem;
  text-align: left;
  color: black;
  text-decoration: none;
  border: 1px solid #7bdcb5;
  border-radius: 15px;
  max-width: 300px;
}

.card:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
